@import "compass/reset";
@import "compass/css3";

// ========== Global ========== //

body {
	text-align: center;
	font-family: 'Raleway', "Lucida Grande", Verdana, sans-serif;
	color: #333;
	margin: 0;
	padding: 0;
	background: #1d1d1d;
	font-size: 100%;
}


h1 {
	font-family: 'Droid Serif', serif;
	font-size: 2.25em;
	padding: 0 1em;
}

.header {
	padding: 10em 0 14em;

	h1 {
		color: grey;
	}
}

h2 { 
	color: #999;
	margin-bottom: 0; 
	margin-left:13px;
	height:40px;

	span {
	display: none;
	}
}
 
p { 
	color: #ffff66; 
	margin-top: .5em;
	font-size: .75em;
	padding-left:15px;  
}

// ========== Nav and avatar styling ========== //

.avatar {
	@include box-shadow(0 0 0px 3px #fff, 0 0 0 4px #ccc, 0 4px 6px #333);
	@include border-radius(50px); // half the avatar size
	width: 100px;
	height: 100px;
}

// ========== Carousel styling ========== //

.carousel {
	position: relative;
}

.shots-container {
	width: 100%;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	position: relative;
	padding: 1em 0;
}


.shots {
	overflow: hidden;
	margin: 0;
	padding: 0 2%;
	/*
	 * Shot width = 400px + 20px margin + 20px padding + 2px border
	 * 442 * 10 (# of shots)
	 */
	width: 2000px;
	min-height: 300px;

	@media screen and (max-width: 450px) {
		/*
		 * Shot width = 300px + 20px margin + 20px padding + 2px border
		 * 342 * 10 (# of shots)
		 */
		width: 3420px; /* 340 * 10 */
		min-height: 250px;
	}

	li {
		float: left;
		width: 400px;
		height: 300px;
		margin: 0 10px;
		padding: 10px;
		border: 1px solid #ddd;
		@include border-radius(3px);

		@media screen and (max-width: 450px) {
			width: 300px;
			height: 225px;
		}
	}
}

// ========== Thumbnail grid ========== //

.og-grid {
	list-style: none;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;

	li {
		display: inline-block;
		margin: 10px 5px 0 5px;
		vertical-align: top;
		height: 250px;
	}
}
 
.og-grid li > a,
.og-grid li > a img {
  border: none;
  outline: none;
  display: block;
  position: relative;
}

.og-grid li.og-expanded > a::after {
  top: auto;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #ddd;
  border-width: 15px;
  left: 50%;
  margin: -20px 0 0 -15px;
}

.og-expander {
  position: absolute;
  background: #ddd;
  top: auto;
  left: 0;
  width: 100%;
  margin-top: 10px;
  text-align: left;
  height: 0;
  overflow: hidden;
}

.og-expander-inner {
  padding: 50px 30px;
  height: 100%;
}

.og-close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.og-close::before,
.og-close::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  height: 1px;
  background: #888;
  transform: rotate(45deg);
}

.og-close::after {
  transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
  background: #333;
}

og-fullimg,
.og-details {
  width: 50%;
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.og-details {
    padding: 0 40px 0 20px;
}
 
.og-fullimg {
    text-align: center;
}
 
.og-fullimg img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
}

// --- text element and link --- //

.og-details h3 {
    font-weight: 300;
    font-size: 52px;
    padding: 40px 0 10px;
    margin-bottom: 10px;
}
 
.og-details p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999;
}
 
.og-details a {
    font-weight: 700;
    font-size: 16px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 20px;
    border: 3px solid #333;
    display: inline-block;
    margin: 30px 0 0;
    outline: none;
}
 
.og-details a::before {
    content: '\2192';
    display: inline-block;
    margin-right: 10px;
}
 
.og-details a:hover {
    border-color: #999;
    color: #999;
}

// --- loading element --- //
.og-loading {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ddd;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    animation: loader 0.5s infinite ease-in-out both;
}
 
@keyframes loader {
    0% { background: #ddd; }
    33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
    66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}
// --- media queries --- //

@media screen and (max-width: 830px) {
 
    .og-expander h3 { font-size: 32px; }
    .og-expander p { font-size: 13px; }
    .og-expander a { font-size: 12px; }
 
}
 
@media screen and (max-width: 650px) {
 
    .og-fullimg { display: none; }
    .og-details { float: none; width: 100%; }
     
}

// ========== Footer ========== //

.footer {
	p {
		color: #777;
		padding: 0 1em;
	}
}


// ========== Overrider ========== //
 
.content,
.footer {
	padding: 4em 0 6em;
}
 
.content {
	border-top: 1px solid #010101;
	border-bottom: 1px solid #010101;

	h1 {
		color: #ea4c89; // dribbble brand color
	}

	> p {
		font-size: .85em;
		color: #aaa;
	}
}

// font styling

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Shared styles
.icon-location:before,
.icon-bubble:before,
.icon-spinner:before,
.icon-attachment:before,
.icon-arrow-up:before,
.icon-arrow-right:before,
.icon-arrow-down:before,
.icon-arrow-left:before,
.icon-googleplus:before,
.icon-facebook:before,
.icon-github:before,
.icon-tumblr:before,
.icon-linkedin:before,
.icon-stackoverflow:before,
.icon-file-pdf:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
// Individual characters

.icon-location:before {
	content: "\e600";
}
.icon-bubble:before {
	content: "\e601";
}
.icon-spinner:before {
	content: "\e602";
}
.icon-attachment:before {
	content: "\e603";
}
.icon-arrow-up:before {
	content: "\e604";
}
.icon-arrow-right:before {
	content: "\e605";
}
.icon-arrow-down:before {
	content: "\e606";
}
.icon-arrow-left:before {
	content: "\e607";
}
.icon-googleplus:before {
	content: "\e608";
}
.icon-facebook:before {
	content: "\e609";
}
.icon-github:before {
	content: "\e60a";
}
.icon-tumblr:before {
	content: "\e60b";
}
.icon-linkedin:before {
	content: "\e60c";
}
.icon-stackoverflow:before {
	content: "\e60d";
}
.icon-file-pdf:before {
	content: "\e60e";
}


.social {
	margin:2em 0;
	font-family: Helvetica, Arial, sans-serif;

	li {
		position: relative;
		@include inline-block();
		margin: .7em;
		@include transition(all .15s ease);

		&:hover {
			@include scale(1.25);
			color: white;
		}

		&:before {
			position: absolute;
			width: 2em; /* center align technique, give width, negative half margin */
			margin-left: -1em;
			top: 1.5em;
			left: 50%;
		}

		a {
			text-decoration: none;
			display: block;
			color: inherit;
			padding: 2.5em 1em 1em;
			width: 6em;
			height: 2em;
			// allow truncation if needed
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}

/* Tumblr */
.icon-tumblr {color: #304d6b}
.icon-tumblr:hover {background:#304d6b}
/* Instagram */
.icon-instagram {color: #634d40}
.icon-instagram:hover {background: #634d40}
/* Facebook */
.icon-facebook {color: #3b5998}
.icon-facebook:hover {background: #3b5998}
/* Google-Plus */
.icon-googleplus {color: #da4937}
.icon-googleplus:hover {background: #da4937}
/* Github */
.icon-github {color: #f5f5f5}
.icon-github:hover {background: #333333}
/* Stackoverflow */
.icon-stackoverflow {color: #ff771b}
.icon-stackoverflow:hover {background: #ff771b}
/* LinkedIn */ 
.icon-linkedin {color: #1b86bc}
.icon-linkedin:hover {background: #1b86bc}