@import "compass/reset";
@import "compass/css3";

// ========== Variable Bank ========== //

	$primaryBG: #FFFFFF;				// light gray
	$secondaryBG: #B3ADA7;			// darker gray

	$navLight: #ACB2B2;
	$navDark: #3B6986;

	$primaryFontFamily: 'Raleway', "Lucida Grande", Verdana, sans-serif;
	$secondaryFontFamily: 'Droid Serif', serif;
	$socialFontFamily: Helvetica, Arial, sans-serif;
	$primaryFontColor: #3B3B3A;
	$primaryColor: #304d6b;
	$primaryhighlight: #8C1357;

// ========== Font Face ========== //
	// icomoon font styling

	@font-face {
		font-family: 'icomoon';
		src:url('../fonts/icomoon.eot');
		src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
			url('../fonts/icomoon.woff') format('woff'),
			url('../fonts/icomoon.ttf') format('truetype'),
			url('../fonts/icomoon.svg#icomoon') format('svg');
		font-weight: normal;
		font-style: normal;
	}

	// BP menu font styling

	@font-face {
		font-family: 'bpmenu';
		src:url('../fonts/bpmenu/bpmenu.eot');
		src:url('../fonts/bpmenu/bpmenu.eot?#iefix') format('embedded-opentype'),
			url('../fonts/bpmenu/bpmenu.woff') format('woff'),
			url('../fonts/bpmenu/bpmenu.ttf') format('truetype'),
			url('../fonts/bpmenu/bpmenu.svg#bpmenu') format('svg');
		font-weight: normal;
		font-style: normal;
	}

// ========== Global Styling ========== //

/* --- Element styling --- */

body {
	font-family: $primaryFontFamily;
	color: $primaryFontColor;
	background-color: $navDark;
	font-size: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
	position: relative;
}

h1 {
	margin-top: 0.25em;
	font-size: 3.25em;
}

h2 {
	font-size: 1.5em;
}

p { 
	color: $primaryFontColor; 
	margin-top: .55em;
	font-size: 1em;
	> span {
		color: $primaryhighlight; 
	}
}

/* --- Sectional styling --- */

.container {
	background-color: $primaryBG;
	max-width: 960px;
	margin: auto auto;
	position: relative;
	display: inline-block;
}

.space-row {
	margin: 20px auto 40px auto;
	width: 100%;
}
.content-column {
	background-color: red;
	max-width: 80%
}

.about-me-content {
	width: 70%;
	margin: 0 auto;
}

.project-thumbnail {
	max-height: 200px;
	max-width: 200px;
}

.logo	{
	text-align: center;
	background-color: $primaryBG;
}

.scroll-up-button {
	margin-left: 10px;
	border-bottom: solid $primaryColor 1px;
	border-left: solid $primaryColor 1px;
	border-right: solid $primaryColor 1px;
	border-bottom-left-radius: 10px;
}
.scroll-up-button, nav {
	> a {
		text-decoration: none;
		text-align: right;
		color: $primaryFontColor;
	}
	background-color: $primaryBG;
	padding: 10px;
}

.avatar {
	height: 200px;
}

#project-info {
	width: 100%;
	height: 375px;

	.project-expand {
		margin: auto auto;
		padding: 10px;
		width: 75%;
		display: inline-block;
		.project-img {
			float: left;
			margin: 20px 20px;
			max-width: 30%;
			.demo-img {
				border: 1px solid $primaryColor;
				width: 100%;
			}
		}
		.project-description {
			max-width: 80%;
			margin-left: 10px;
			overflow-y: auto;
			> h2 {
				padding-top: 10px;
			}
			> p {
				padding: 10px;
			}
			> ul {
				height: auto;
				padding-bottom: 10px;
				> li {
					position: relative;
					@include inline-block();
					margin: 3px;
					text-align: middle;
					padding: 5px;
					display: inline-block;
					color: white;
					background: $primaryColor;
					width: 150px;
					max-height: 3em;
				}
			}
		}
	}
}
/* --- headroom styling --- */

.headroom {
	position: fixed;
		transition: transform 400ms linear;
}
.headroom--pinned {
		transform: translateY(0%);
}
.headroom--unpinned {
		transform: translateY(-100%);
}

// ========== Find Me Section Styling ========== //

/* --- Overrider --- */
 
footer {
	padding: 2em;
}

.projects {
	margin:2em 0 4em;
	font-family: $primaryFontFamily; 
	
	li {
		position: relative;
		@include inline-block();
		margin: .7em;
		@include transition(all .15s ease);


		&:hover {
			@include scale(1.25);
			color: white;
		}

		&:before {
			position: absolute;
			width: 2em; /* center align technique, give width, negative half margin */
			margin-left: -1em;
			top: 1.5em;
			left: 50%;
		}

		a {
			text-decoration: none;
			display: block;
			color: inherit;
			padding: 0.7em 0.3em 0.3em;
			height: 2em;
			// allow truncation if needed
			overflow: hidden;
			white-space: wrap;
		}
	}
}
 
/* --- Shared Styles --- */

.icon-location:before,
.icon-bubble:before,
.icon-spinner:before,
.icon-attachment:before,
.icon-arrow-up:before,
.icon-arrow-right:before,
.icon-arrow-down:before,
.icon-arrow-left:before,
.icon-googleplus:before,
.icon-facebook:before,
.icon-github:before,
.icon-tumblr:before,
.icon-linkedin:before,
.icon-stackoverflow:before,
.icon-file-pdf:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* --- Individual Styles --- */

.icon-location:before {
	content: "\e600";
}
.icon-bubble:before {
	content: "\e601";
}
.icon-spinner:before {
	content: "\e602";
}
.icon-attachment:before {
	content: "\e603";
}
.icon-arrow-up:before {
	content: "\e604";
}
.icon-arrow-right:before {
	content: "\e605";
}
.icon-arrow-down:before {
	content: "\e606";
}
.icon-arrow-left:before {
	content: "\e607";
}
.icon-googleplus:before {
	content: "\e608";
}
.icon-facebook:before {
	content: "\e609";
}
.icon-github:before {
	content: "\e60a";
}
.icon-tumblr:before {
	content: "\e60b";
}
.icon-linkedin:before {
	content: "\e60c";
}
.icon-stackoverflow:before {
	content: "\e60d";
}
.icon-file-pdf:before {
	content: "\e60e";
}


.social {
	margin:2em 0;
	height: 110px;
	font-family: $socialFontFamily;
	
	li {
		position: relative;
		@include inline-block();
		margin: .7em;
		@include transition(all .15s ease);


		&:hover {
			@include scale(1.25);
			color: white;
		}

		&:before {
			position: absolute;
			width: 2em; /* center align technique, give width, negative half margin */
			margin-left: -1em;
			top: 1.5em;
			left: 50%;
		}

		a {
			text-decoration: none;
			display: block;
			color: inherit;
			padding: 2.5em 1em 1em;
			width: 6em;
			height: 2em;
			// allow truncation if needed
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}

.thumbnail-shuffla, 
.thumbnail-bero, 
.thumbnail-trl {
	color: #304d6b;
	background-color: $primaryBG;
	border: 1px solid #304d6b;
}

.thumbnail-shuffla:hover,
.thumbnail-bero:hover, 
.thumbnail-trl:hover 
	{background: #304d6b}
/* Tumblr */
.icon-tumblr {color: #304d6b}
.icon-tumblr:hover {background:#304d6b}
/* Instagram */
.icon-instagram {color: #634d40}
.icon-instagram:hover {background: #634d40}
/* Facebook */
.icon-facebook {color: #3b5998}
.icon-facebook:hover {background: #3b5998}
/* Google-Plus */
.icon-googleplus {color: #da4937}
.icon-googleplus:hover {background: #da4937}
/* Github */
.icon-github {color: #B3ADA7}
.icon-github:hover {background: #333333}
/* Stackoverflow */
.icon-stackoverflow {color: #ff771b}
.icon-stackoverflow:hover {background: #ff771b}
/* LinkedIn */ 
.icon-linkedin {color: #1b86bc}
.icon-linkedin:hover {background: #1b86bc}


@media screen and (max-width: 400px){

}

@media screen and (max-width: 700px){
	
}