/* line 5, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bpmenu';
  src: url("../fonts/bpmenu/bpmenu.eot");
  src: url("../fonts/bpmenu/bpmenu.eot?#iefix") format("embedded-opentype"), url("../fonts/bpmenu/bpmenu.woff") format("woff"), url("../fonts/bpmenu/bpmenu.ttf") format("truetype"), url("../fonts/bpmenu/bpmenu.svg#bpmenu") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 46, ../sass/style.scss */
body {
  font-family: "Raleway", "Lucida Grande", Verdana, sans-serif;
  color: #3b3b3a;
  background-color: white;
  font-size: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
}

/* line 57, ../sass/style.scss */
h1 {
  font-size: 3.25em;
}

/* line 61, ../sass/style.scss */
h2 {
  font-size: 1.5em;
}

/* line 65, ../sass/style.scss */
p {
  color: #3b3b3a;
  margin-top: .55em;
  font-size: 1em;
  padding-left: 15px;
}
/* line 70, ../sass/style.scss */
p > span {
  color: #8c1357;
}

/* line 75, ../sass/style.scss */
.project-thumbnail {
  max-height: 200px;
}

/* --- Overrider --- */
/* line 83, ../sass/style.scss */
.content,
footer {
  padding: 4em 0 6em;
}

/* line 88, ../sass/style.scss */
.content {
  border-top: 1px solid #010101;
  border-bottom: 1px solid #010101;
}
/* line 92, ../sass/style.scss */
.content h1 {
  color: #ea4c89;
}
/* line 96, ../sass/style.scss */
.content > p {
  font-size: .85em;
  color: #aaa;
}

/* --- Shared Styles --- */
/* line 104, ../sass/style.scss */
.icon-location:before,
.icon-bubble:before,
.icon-spinner:before,
.icon-attachment:before,
.icon-arrow-up:before,
.icon-arrow-right:before,
.icon-arrow-down:before,
.icon-arrow-left:before,
.icon-googleplus:before,
.icon-facebook:before,
.icon-github:before,
.icon-tumblr:before,
.icon-linkedin:before,
.icon-stackoverflow:before,
.icon-file-pdf:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* --- Individual Styles --- */
/* line 130, ../sass/style.scss */
.icon-location:before {
  content: "\e600";
}

/* line 133, ../sass/style.scss */
.icon-bubble:before {
  content: "\e601";
}

/* line 136, ../sass/style.scss */
.icon-spinner:before {
  content: "\e602";
}

/* line 139, ../sass/style.scss */
.icon-attachment:before {
  content: "\e603";
}

/* line 142, ../sass/style.scss */
.icon-arrow-up:before {
  content: "\e604";
}

/* line 145, ../sass/style.scss */
.icon-arrow-right:before {
  content: "\e605";
}

/* line 148, ../sass/style.scss */
.icon-arrow-down:before {
  content: "\e606";
}

/* line 151, ../sass/style.scss */
.icon-arrow-left:before {
  content: "\e607";
}

/* line 154, ../sass/style.scss */
.icon-googleplus:before {
  content: "\e608";
}

/* line 157, ../sass/style.scss */
.icon-facebook:before {
  content: "\e609";
}

/* line 160, ../sass/style.scss */
.icon-github:before {
  content: "\e60a";
}

/* line 163, ../sass/style.scss */
.icon-tumblr:before {
  content: "\e60b";
}

/* line 166, ../sass/style.scss */
.icon-linkedin:before {
  content: "\e60c";
}

/* line 169, ../sass/style.scss */
.icon-stackoverflow:before {
  content: "\e60d";
}

/* line 172, ../sass/style.scss */
.icon-file-pdf:before {
  content: "\e60e";
}

/* line 177, ../sass/style.scss */
.social {
  margin: 2em 0;
  height: 110px;
  font-family: Helvetica, Arial, sans-serif;
}
/* line 182, ../sass/style.scss */
.social li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: .7em;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
/* line 189, ../sass/style.scss */
.social li:hover {
  -moz-transform: scale(1.25, 1.25);
  -ms-transform: scale(1.25, 1.25);
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
  color: white;
}
/* line 194, ../sass/style.scss */
.social li:before {
  position: absolute;
  width: 2em;
  /* center align technique, give width, negative half margin */
  margin-left: -1em;
  top: 1.5em;
  left: 50%;
}
/* line 202, ../sass/style.scss */
.social li a {
  text-decoration: none;
  display: block;
  color: inherit;
  padding: 2.5em 1em 1em;
  width: 6em;
  height: 2em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Tumblr */
/* line 218, ../sass/style.scss */
.icon-tumblr {
  color: #304d6b;
}

/* line 219, ../sass/style.scss */
.icon-tumblr:hover {
  background: #304d6b;
}

/* Instagram */
/* line 221, ../sass/style.scss */
.icon-instagram {
  color: #634d40;
}

/* line 222, ../sass/style.scss */
.icon-instagram:hover {
  background: #634d40;
}

/* Facebook */
/* line 224, ../sass/style.scss */
.icon-facebook {
  color: #3b5998;
}

/* line 225, ../sass/style.scss */
.icon-facebook:hover {
  background: #3b5998;
}

/* Google-Plus */
/* line 227, ../sass/style.scss */
.icon-googleplus {
  color: #da4937;
}

/* line 228, ../sass/style.scss */
.icon-googleplus:hover {
  background: #da4937;
}

/* Github */
/* line 230, ../sass/style.scss */
.icon-github {
  color: #f5f5f5;
}

/* line 231, ../sass/style.scss */
.icon-github:hover {
  background: #333333;
}

/* Stackoverflow */
/* line 233, ../sass/style.scss */
.icon-stackoverflow {
  color: #ff771b;
}

/* line 234, ../sass/style.scss */
.icon-stackoverflow:hover {
  background: #ff771b;
}

/* LinkedIn */
/* line 236, ../sass/style.scss */
.icon-linkedin {
  color: #1b86bc;
}

/* line 237, ../sass/style.scss */
.icon-linkedin:hover {
  background: #1b86bc;
}
